APP_DEBUG = true#数据库配置DB_TYPE = mysqlDB_HOST = 127.0.0.1DB_NAME = testDB_USER = usernameDB_PASS = passwordDB_PORT = 3306DB_CHARSET = utf8#语言配置DEFAULT_LANG = zh-cn#域名配置SYS_MANAGE = manage.hanzhuoyou.cnSYS_INDEX  = cms.hanzhuoyou.cnTENANT_ADMIN = adminTENANT_INDEX = *